waveprop @ git+https://github.com/ebezzam/waveprop.git
slm_controller @ git+https://github.com/ebezzam/slm-controller.git
perlin_numpy @ git+https://github.com/pvigier/perlin-numpy.git@5e26837db14042e51166eb6cad4c0df2c1907016
torch
torchvision
numpy
scipy
opencv-python
scikit-image
Pillow
tqdm
datasets
huggingface-hub
safetensors
hydra-core
omegaconf
comet-ml
lpips
